:root {
  --custome-width: 800px;
  --custom-padding-container: 64px 16px;
}

body {
  font-family: "Lato", sans-serif !important;
  font-size: 1rem;
  margin: 0px;
  list-style: none;
}

body button {
  background-color: #000;
  border: none;
  color: #fff;
  padding: 8px 16px;
}

body button:hover {
  color: #000;
  background-color: #ccc;
}

body .p-header {
  z-index: 999;
  color: #fff !important;
  background-color: #000 !important;
  position: fixed;
  top: 0;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .p-header .fa-bars {
  display: none;
}

body .p-header .menu-mobie .active {
  display: block;
}

body .p-header .menu-mobie ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #000;
}

body .p-header .menu-mobie li a {
  display: block;
  color: #fff;
  padding: 8px 16px;
  text-decoration: none;
}

body .p-header .menu-mobie li a:hover {
  background-color: #555;
  color: white;
}

body .p-header .header-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .p-header .header-container .p-menu-main {
  padding-left: 0px;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 0px;
}

body .p-header .header-container .p-menu-main .dropdown-toggle {
  margin-top: 1px;
  font-size: 15px;
}

body .p-header .header-container .p-menu-main .menu-item {
  padding: 12px 18px;
}

body .p-header .header-container .p-menu-main .menu-item:hover {
  color: #000 !important;
  background-color: #ccc !important;
}

body .p-header .header-container .p-menu-main .menu-item a {
  text-decoration: none;
  color: var(--main-text-color);
  font-family: "Work Sans", sans-serif;
  font-size: 14px;
  line-height: 2px;
  letter-spacing: 0.2em;
}

body .p-slider {
  margin-top: 46px;
}

body .p-slider .mySlides {
  position: relative;
  margin: 0 auto;
}

body .p-slider .mySlides .container-slider {
  padding: 32px 0;
  color: #fff;
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 0px;
}

body .p-content .p-content-band {
  max-width: var(--custome-width);
  width: 100%;
  padding: var(--custom-padding-container);
  margin: 0 auto;
}

body .p-content .p-content-tour-date {
  background-color: #000;
  color: #fff;
}

body .p-content .p-content-tour-date .container-tour-date {
  margin: 0 auto;
  max-width: var(--custome-width);
  width: 100%;
  padding: var(--custom-padding-container);
}

body .p-content .p-content-tour-date .container-tour-date .title {
  text-align: center;
  margin-bottom: 30px;
}

body .p-content .p-content-tour-date .container-tour-date .list-date {
  padding-left: 0;
  background-color: #fff;
  list-style: none;
}

body .p-content .p-content-tour-date .container-tour-date .list-date .number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .p-content .p-content-tour-date .container-tour-date .list-date .number span {
  border-radius: 50%;
  background-color: #000 !important;
  padding: 5px;
  color: #fff;
  margin-right: 16px;
}

body .p-content .p-content-tour-date .container-tour-date .list-date .item-date {
  border-bottom: 1px solid #ddd;
  padding: 8px 16px;
  color: #757575;
}

body .p-content .p-content-tour-date .container-tour-date .list-date .item-date span {
  color: #fff;
  background-color: #f44336;
  padding: 0 8px;
  margin-left: 16px;
}

body .p-content .p-content-tour-date .container-tour-date .list-buy {
  color: #000;
}

body .p-content .p-content-tour-date .container-tour-date .list-buy .item-buy {
  margin-bottom: 10px;
}

body .p-content .p-content-tour-date .container-tour-date .list-buy .item-buy img:hover {
  opacity: 0.6;
}

body .p-content .p-content-tour-date .container-tour-date .list-buy .item-buy .container-buy {
  padding: 10px 16px;
  background-color: #fff;
}

body .p-content .p-content-tour-date .container-tour-date .list-buy .item-buy .container-buy .date {
  color: #999;
}

body .p-content .p-content-contact .container-contact {
  margin: 0 auto;
  max-width: var(--custome-width);
  width: 100%;
  padding: var(--custom-padding-container);
}

body .p-content .p-content-contact .container-contact .title {
  text-align: center;
  margin-bottom: 30px;
}

body .p-content .p-content-contact .container-contact .contact-input input {
  border: 1px solid #ccc;
  padding: 8px;
  display: block;
  width: 100%;
}

body .p-footer {
  padding: var(--custom-padding-container);
}

body .p-footer .container-footer {
  text-align: center;
}

body .p-footer .container-footer .icon-footer .fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: 23px;
  text-rendering: auto;
  color: #656565;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body .p-footer .container-footer .icon-footer .fa:hover {
  opacity: 0.6;
}

body #check {
  cursor: pointer;
}

body .menu-mobie {
  position: fixed;
  left: 0;
  right: 0;
  top: 48px;
  display: none;
}

@media (max-width: 767px) {
  body .p-header .menu-mobie.active {
    display: block;
  }
  body .p-header .header-container .p-menu-main {
    width: 100%;
    top: -250px;
    height: 100%;
    position: relative;
    z-index: 99999;
  }
  body .p-header .header-container .p-menu-main .active {
    display: block;
  }
  body .p-header .header-container .fa-search {
    display: none;
  }
  body .p-header .fa-bars {
    position: absolute;
    top: 0;
    display: block;
    padding: 15px 18px;
    width: 100%;
    text-align: right;
  }
  body .p-header #check:checked ~ .header-container {
    background-color: red;
  }
  body .p-header #check:checked ~ .header-container .p-menu-main {
    display: block;
    width: 100%;
    height: 100vh;
    z-index: 99999;
  }
}
/*# sourceMappingURL=style.css.map */